{% extends "layout.html" %}
{% block content %}
    <div class="col-md-10">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img mt-4" src="static/images/profile.jpg">
                <div class="media-body ml-3">
                    <h2 class="account-heading">Lily Foster</h2>
                    <p class="text-secondary">16 Years Old - Irish</p>
                    <h3 class="account-heading">Hobbies & Interests:</h3>
                    <p class="text-secondary">
                        Drawing, Performing, Movies<br>
                        Irish Dancing, Harry Potter, Marvel<br>
                    </p>
                    <h3 class="account-heading">Contact:</h3>
                    <p class="text-secondary">Email: lilyfosterart.business@gmail.com, Phone: /enter/</p>
                </div>
              </div>
        </div>
    </div>
{% endblock content %}