{% extends "layout.html" %}
{% block content %}
    <div class="col">
        <div class="content-section">
            <img class="rounded-circle account-img" src="static/images/profile.jpg">
            <h2 class="account-heading" style="margin-top: clamp(1%, 5vw + 1%, 5%);">Lily Foster</h2>
            <p class="text-secondary">16 Years Old - Irish</p>
            <h3 class="account-heading">Hobbies & Interests:</h3>
            <p class="text-secondary">
                Drawing, Performing, Movies<br>
                Irish Dancing, Harry Potter, Marvel<br>
            </p>
            <h3 class="account-heading">Contact:</h3>
            <p class="text-secondary">Email: lilyfosterart.business@gmail.com, Phone: /enter/</p>
        </div>
    </div>
{% endblock content %}