{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="left-aligned">
            <div id="account-info">
                <h2 class="account-heading">Account Information:</h2>
                <p class="text-secondary">Name: {{ current_user.name }}</p>
                <p class="text-secondary">Email: {{ current_user.email }}</p>
                <p class="text-secondary">Phone: {{ current_user.phone }}</p>
            </div>
            <div id="update-info">
                <h2 class="account-heading">Update Account Info:</h2>
                <!--Forms here-->
                <form method="POST", action="", class="login" id="update">
                    {{ form.hidden_tag() }}
                    <div>
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="userinput", placeholder=form.name.label.text) }}
                        {% endif %}
                    </div>
                    <div>
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="userinput", placeholder=form.email.label.text) }}
                        {% endif %}
                    </div>
                    <div>
                        {% if form.phone.errors %}
                            {{ form.phone(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.phone.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(class="userinput", placeholder=form.phone.label.text) }}
                        {% endif %}
                    </div>
                    <small class="hover-underline-animation">
                    <a href="{{ url_for('users.request_password_reset') }}">Update Password</a>
                    </small>
                    <div>
                        {{ form.submit(class="btn btn-outline-dark btn-lg") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}