{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2 class="account-heading">Send Me an Email:</h2>
        <!--Forms here-->
        <form method="POST", action="", class="login" id="contact">

            {{ form.hidden_tag() }}

            {% if not current_user.is_authenticated %}
            <div>
                {% if form.name.errors %}
                    {{ form.name(class="userinput-invalid", placeholder=form.name.label.text) }}
                    <div class="invalid-tips">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="userinput", placeholder=form.name.label.text) }}
                {% endif %}
            </div>

            <div>
                {% if form.email.errors %}
                    {{ form.email(class="userinput-invalid", placeholder=form.email.label.text) }}
                    <div class="invalid-tips">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="userinput", placeholder=form.email.label.text) }}
                {% endif %}
            </div>

            <div>
                {% if form.phone.errors %}
                    {{ form.phone(class="userinput-invalid", placeholder=form.phone.label.text) }}
                    <div class="invalid-tips">
                        {% for error in form.phone.errors %}
                            <span>Phone number needs to be a number.</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phone(class="userinput", placeholder=form.phone.label.text) }}
                {% endif %}
            </div>
            {% endif %}

            <div>
                {% if form.subject.errors %}
                    {{ form.subject(class="userinput-invalid", placeholder=form.subject.label.text) }}
                    <div class="invalid-tips">
                        {% for error in form.subject.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.subject(class="userinput", placeholder=form.subject.label.text) }}
                {% endif %}
            </div>

            <div>
                {% if form.email_content.errors %}
                    {{ form.email_content(class="userinput-invalid", placeholder=form.email_content.label.text) }}
                    <div class="invalid-tips">
                        {% for error in form.email_content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email_content(class="userinput", placeholder=form.email_content.label.text) }}
                {% endif %}
            </div>

            <div>
                {{ form.submit(class="btn btn-outline-dark btn-lg") }}
            </div>

        </form>
    </div>
{% endblock content %}