{% extends "layout.html" %}
{% block content %}
    <div class="content-section gallery">
        <h1 style="font-weight: bolder;">There are {{ images.total }} art pieces in this gallery</h1>
        <div class="images">
            {% for image in images.items %}
                <a href="{{ url_for('art.view_image', image_id=image.id) }}"><img class="galleryIMG" src="static/images/{{ image.filename }}"/></a>
            {% endfor %}
        </div>
    </div>
    <div class="page-buttons">
        {% for page_num in images.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
                {% if images.page == page_num %}
                    <a class="btn btn-dark" href="{{ url_for('art.gallery', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-dark" href="{{ url_for('art.gallery', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
