{% extends "layout.html" %}
{% block content %}
    <div class="col content-section">
        <h1 class="mb-3" style="font-weight: bolder;">There are {{ images.total }} art pieces in this gallery</h1>
        {% for image in images.items %}
            <a href="{{ url_for('art.view_image', image_id=image.id) }}"><img class="galleryIMG" src="static/images/{{ image.filename }}"/></a>
        {% endfor %}
        <br>
        {% for page_num in images.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
                {% if images.page == page_num %}
                    <a class="btn btn-dark mt-5 mb-4" href="{{ url_for('art.gallery', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-dark mt-5 mb-4" href="{{ url_for('art.gallery', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
