{% extends "layout.html" %}
{% block content %}
    <div class="text">
        <P>
            Hey there, this is a website to showcase the art and work of Lily Foster. 
            Her work is all done on paper and covers a variety of styles, including;
            Shaded drawings, Coloured drawings using both pencils and markers. The subjects
            vary from movie characters, to pets and family.
        </P>

        <P>
            What can you find and do on this website? The left contains the sidebar which allows you to
            navigate through the website. (On mobile you can click/touch, the three bar icon in the top 
            left to access the sidebar menu). You can visit the Gallery, where you can view the back catalogue
            of all of Lily's artwork. You can sign up for an account which allows you to get in touch with
            Lily. You can get in touch for whatever reason, your comments, suggestions and requests are always
            very welcome.
        </P>

        <!--Add paragraph about shop and cart when implemented.-->
    </div>
{% endblock content %}