<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <link rel="icon" type="image/png" href="static/favicon/LFA-FAVICON-light.png" media="(prefers-color-scheme: light)">
        <link rel="icon" type="image/png" href="static/favicon/LFA-FAVICON-dark.png" media="(prefers-color-scheme: dark)">
        
        {% if title %}
            <title>Lily Foster Art - {{ title }}</title>
        {% else %}
            <title>Lily Foster Art</title>
        {% endif %}
    </head>
    <body>
        <div class="containerTopBanner">
            <div class="row align-items-center">
                <div class="col">
                    Lily Foster
                </div>
                <div class="col" style="text-align: center;">
                    {{ title }}
                </div>
                <div class="col" style="text-align: right;">
                    *signature*
                </div>
            </div>
        </div>

        <div class="menu-container">
            <button class="btn-style">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
        </div>

        <div class="containerMainBody">
            <div class="col"></div>
            <div class="col alrt-pad">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="sidebar-slide-out">
            <div class="menu-container" style="float: right;">
                <button class="btn-style-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                </button>
            </div>
            <h1 class="account-heading-special">Sidebar:</h1>
            <a class="hover-underline-animation" href="{{ url_for('main.index') }}">Home</a><br>
            
            <a class="hover-underline-animation mt-2" href="{{ url_for('art.gallery') }}">Gallery</a><br>

            <!--<a class="hover-underline-animation mt-2" href="{{ url_for('art.shop') }}">Shop</a><br>-->
            
            <!--<a class="hover-underline-animation mt-2" href="{{ url_for('art.cart') }}">Cart</a><br>-->

            <a class="hover-underline-animation mt-2" href="{{ url_for('users.contact') }}">Contact</a><br>
            
            <a class="hover-underline-animation mt-2" href="{{ url_for('main.about') }}">About</a><br>
        
            {% if current_user.is_authenticated %}
                <br>
                <br>
                <br>
                <a class="hover-underline-animation" href="{{ url_for('users.account') }}">Account</a><br>
                <a class="hover-underline-animation mt-2" href="#" data-toggle="modal" data-target="#signoutModal">Sign out</a><br>
            {% else %}
                <br>
                <br>
                <br>
                <a class="hover-underline-animation" href="{{ url_for('users.signin') }}">Sign in</a><br>
                <a class="hover-underline-animation mt-2" href="{{ url_for('users.signup') }}">Sign up</a><br>
            {% endif %}
            
            <a class="hover-rotate mt-2" href="https://twitter.com/M__Foster" target="_blank"><img class="imgStyle-bar" src="static/twitter.png"/></a>
            <a class="hover-rotate mt-2" href="https://www.instagram.com/_lilyjfoster_/" target="_blank"><img class="imgStyle-bar" src="static/instagram.png"/></a>
            <a class="hover-rotate mt-2" href="https://twitter.com/M__Foster" target="_blank"><img class="imgStyle-bar" src="static/facebook.png"/></a>
        </div>

        <div class="containerMainBody">
            <div class="col sidebar-col">
                <div class="sidebar">
                    <a class="hover-underline-animation" href="{{ url_for('main.index') }}">Home</a><br>
                    
                    <a class="hover-underline-animation mt-2" href="{{ url_for('art.gallery') }}">Gallery</a><br>

                    <!--<a class="hover-underline-animation mt-2" href="{{ url_for('art.shop') }}">Shop</a><br>-->
                    
                    <!--<a class="hover-underline-animation mt-2" href="{{ url_for('art.cart') }}">Cart</a><br>-->

                    <a class="hover-underline-animation mt-2" href="{{ url_for('users.contact') }}">Contact</a><br>
                    
                    <a class="hover-underline-animation mt-2" href="{{ url_for('main.about') }}">About</a><br>
                
                    {% if current_user.is_authenticated %}
                        <br>
                        <br>
                        <br>
                        <a class="hover-underline-animation" href="{{ url_for('users.account') }}">Account</a><br>
                        <a class="hover-underline-animation mt-2" href="#" data-toggle="modal" data-target="#signoutModal">Sign out</a><br>
                    {% else %}
                        <br>
                        <br>
                        <br>
                        <a class="hover-underline-animation" href="{{ url_for('users.signin') }}">Sign in</a><br>
                        <a class="hover-underline-animation mt-2" href="{{ url_for('users.signup') }}">Sign up</a><br>
                    {% endif %}
                    
                    <a class="hover-rotate mt-2" href="https://twitter.com/M__Foster" target="_blank"><img class="imgStyle" src="static/twitter.png"/></a>
                    <a class="hover-rotate mt-2" href="https://www.instagram.com/_lilyjfoster_/" target="_blank"><img class="imgStyle" src="static/instagram.png"/></a>
                    <a class="hover-rotate mt-2" href="https://twitter.com/M__Foster" target="_blank"><img class="imgStyle" src="static/facebook.png"/></a>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="signoutModal" tabindex="-1" role="dialog" aria-labelledby="signoutModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="signoutModalLabel" style="font-weight: bolder;">Sign Out?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-light mt-2" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('users.signout') }}">
                        <input class="btn btn-dark mt-2" type="submit" value="Sign Out">
                    </form>
                    </div>
                </div>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            function switchPassword(id)
            {
                var passwordInput = document.getElementById(id);
                if(passwordInput.type === "password")
                {
                    passwordInput.type = "text";
                }
                else
                {
                    passwordInput.type = "password";
                }
            }
        </script>
        <script>
            const sidebarOpen = document.querySelector('.btn-style');

            sidebarOpen.addEventListener('click', () => 
            {
                document.body.classList.add('sidebar-open');
            })

            const sidebarClose = document.querySelector('.btn-style-close');

            sidebarClose.addEventListener('click', () => 
            {
                document.body.classList.remove('sidebar-open');
            })
        </script>
    </body>
</html>