{% extends "layout.html" %}
{% block content %}
<div class="col">
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="account-heading">Account Email:</h2>
          </div>
        </div>
        <!--Forms here-->
        <form method="POST", action="", class="login" id="reset_request">

          {{ form.hidden_tag() }}

          <div>
              {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid mt-5") }}
                  <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.email(class="userinput mt-3", placeholder=form.email.label.text) }}
              {% endif %}
          </div>

          <div class="mt-5">
              {{ form.submit(class="btn btn-outline-dark btn-lg", style="font-size: clamp(0.75rem, 1vw + 0.25rem, 1rem);") }}
          </div>

      </form>
    </div>
</div>
{% endblock content %}