{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="account-heading">Enter your new password:</h2>
          </div>
        </div>
        <!--Forms here-->
        <form method="POST", action="", class="login" id="new_password">

          {{ form.hidden_tag() }}

          <div>
              {% if form.password.errors %}
                  {{ form.password(class="userinput-invalid", placeholder=form.password.label.text, id="resetPassword") }}
                  <div class="invalid-tips">
                      {% for error in form.password.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.password(class="userinput", placeholder=form.password.label.text, id="resetPassword") }}
              {% endif %}
          </div>

          <div>
              {% if form.confirm_password.errors %}
                  {{ form.confirm_password(class="userinput-invalid", placeholder=form.confirm_password.label.text, id="resetPassword2") }}
                  <div class="invalid-tips">
                      {% for error in form.confirm_password.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.confirm_password(class="userinput", placeholder=form.confirm_password.label.text, id="resetPassword2") }}
              {% endif %}
          </div>

          <div>
            <small>Show Password</small> <input type="checkbox" onclick="switchPassword('resetPassword'), switchPassword('resetPassword2')">
        </div>

          <div>
              {{ form.submit(class="btn btn-outline-dark btn-lg") }}
          </div>

      </form>
    </div>
{% endblock content %}