{% extends "layout.html" %}
{% block content %}
    <div class="col-md-10">
        <form method="POST" action="" class="login" id="signin">
            {{ in_form.hidden_tag() }}

            <div>
                {% if in_form.email.errors %}
                    {{ in_form.email(class="form-control form-control-lg is-invalid mt-5") }}
                    <div class="invalid-feedback">
                        {% for error in in_form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ in_form.email(class="userinput mt-3", placeholder=in_form.email.label.text) }}
                {% endif %}
            </div>

            <div>
                {% if in_form.password.errors %}
                    {{ in_form.password(class="form-control form-control-lg is-invalid mt-5") }}
                    <div class="invalid-feedback">
                        {% for error in in_form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ in_form.password(class="userinput mt-3", placeholder=in_form.password.label.text, id="signInPassword") }}
                {% endif %}
            </div>

            <div class="mt-3">
                Show Password <input type="checkbox" onclick="switchPassword('signInPassword')">
            </div>

            <div class="mt-3">
                <small>Stay logged in?</small>
                {{ in_form.remember(class="form-check-inline") }}
            </div>

            <small class="hover-underline-animation mt-3">
                <a href="{{ url_for('users.request_password_reset') }}">Forgot Password?</a>
            </small>

            <div class="mt-3">
                {{ in_form.submit(class="btn btn-outline-dark btn-lg") }}
            </div>
            <div class="mt-4" style="border-top: 1px solid #000000;">
                <small class="text-muted" style="font-weight: bolder; font-size: 16px;">
                    Need An Account? - <a class="hover-underline-animation ml-2" href="{{ url_for('users.signup') }}">Sign Up Now</a>
                </small>
            </div>
        </form>
       
    </div>
{% endblock content %}
