{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" class="login" id="signin">
            {{ in_form.hidden_tag() }}
            <div>
                {% if in_form.email.errors %}
                    {{ in_form.email(class="userinput-invalid", placeholder=in_form.email.label.text) }}
                    <div class="invalid-tips">
                        {% for error in in_form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ in_form.email(class="userinput", placeholder=in_form.email.label.text) }}
                {% endif %}
            </div>
            <div>
                {% if in_form.password.errors %}
                    {{ in_form.password(class="userinput-invalid", placeholder=in_form.password.label.text, id="signInPassword") }}
                    <div class="invalid-tips">
                        {% for error in in_form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ in_form.password(class="userinput", placeholder=in_form.password.label.text, id="signInPassword") }}
                {% endif %}
            </div>
            <div>
                <small>Show Password</small>
                <input type="checkbox" onclick="switchPassword('signInPassword')">
            </div>
            <div>
                <small>Stay logged in?</small>
                {{ in_form.remember(class="form-check-inline") }}
            </div>
            <small class="hover-underline-animation">
                <a href="{{ url_for('users.request_password_reset') }}">Forgot Password?</a>
            </small>
            <div>
                {{ in_form.submit(class="btn btn-outline-dark btn-lg") }}
            </div>
            <div style="border-top: 1px solid #000000;">
                <small class="text-muted" style="font-weight: bolder; font-size: clamp(0.5rem, 1vw + 0.25rem, 1rem);">
                    Need An Account? - <a class="hover-underline-animation ml-2" href="{{ url_for('users.signup') }}">Sign Up Now</a>
                </small>
            </div>
        </form>
    </div>
{% endblock content %}
